npm
node_modules
generator
examples
.vscode
.venv
.urc
src
lore
lore_js
.prettierrc.cjs
.loreignore
find_lorelib.py
package-lock.json
tsconfig.json
tsdown.config.ts
artifacts
.github
gha-checkout-view
.npmrc
pnpm-workspace.yaml
pnpm-lock.yaml
.lore
